{% extends 'base.html' %}
{% block content %}

{% include 'women/includes/nav.html' only %}

<ul>
    <h1>{{ title }}</h1>
    {% for p in posts %}
    {% if p.in_stock %}
    <li>
        <h1>{{ p.category }}</h1>
        <h4><a href=" {% url 'post' p.id %} "> read post</a></h4>
        <p>{{ p.title }}</p>
        <p>{{ p.year }}</p>
        <p>{{ p.in_stock }}</p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif %} {% endfor %}
</ul>
{% include 'women/includes/nav.html'%}

{% endblock %}
