<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default:"No title" }}</title> <!--# filter default . 'main_title': 'main',-->
</head>
<body>
<p>{{ menu|join:" || " }}</p> <!--# filter 'last, first' -->
<p>{{ list|length }}</p> <!--# filter 'length' -->
<p>{{ float| add:'50' }}</p>  <!--# filter 'add' -->
<p>{{ dict.key_1 }} {{ dict.key_2 }}</p>
<p>{{ set }}</p>
<p>{{ obj.a }}</p>
<p>{{"The Main Page"|slugify}}</p> <!-- filter 'slugify'-->
<p>{{ url }}</p>
<h1>{{ title|cut:"a" }}</h1>  <!--# filter 'capfirst, upper, lower, cut:"a" ' -->
</body>
</html>